
{% extends "./base.html" %}
{% load staticfiles %}

{% block title %}
| Restaurants
{% endblock %}


{% block nav %}
  <li><a href="/restaurants/">Restaurants</a></li>
    <li><a href="/restaurants/cusines/">Cusines</a></li>
    <li><a href="/restaurants/localities/">Localities</a></li>
    <li><a href="/restaurants/establishments/">Establishments</a></li>
{% endblock %}


{% block content %}
  <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Restaurants</h1>
                        <h3>Delhi, NCR, Punjab</h3>
                        
                        <!-- <hr class="intro-divider"> -->
                        
                        <form class="form-inline"  action="/restaurants/search/" method="get" >
                          <div class="form-group">
                            <input type="text" name="q" class="form-control" id="" placeholder="Name, Locality">
                          </div>
                           <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                        

                    </div>
<!--                          -->
                    </div>
            </div>

        </div>
        </div>
<div class="container">
  <h4 align="justify">
    <br>Replacing old and generic paper menus with new digital menus with many other services incorporated into one. Revolutionizing the way we order our food.
  </h4>
  <h2>Cusines</h2>
  <div class="page-header">
    {% if cusines %}
      {% for cusine in cusines %}
        {% if cusine.restaurant_set.all %}
        <div class="panel panel-default">
          <div class="panel-body">
            {{cusine}}
          </div>
          <div class="panel-footer">
            <ul>
              {% for restaurant in cusine.restaurant_set.all %}
              <li><a href="/restaurants/{{restaurant.id}}/menu">{{restaurant}}</a>,&nbsp&nbsp{{restaurant.locality}},&nbsp&nbsp{{restaurant.locality.city}}</li>
               Establishment: &nbsp
               {% for estab in restaurant.establishment.all %}
                  {{estab}}
               {% endfor %}

              {% endfor %}

            </ul>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p>No restaurants are available currently.<br><a href="/">Go Home.</a></p>
    {% endif %}
  </div>
</div>



      



{% endblock %}
