{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
| Restaurants | Localities
{% endblock %}


{% block nav2 %}
	<nav id= "nav" style="left:22px; top:13px">
		<a href="/"><h4>WORX.</h4></a>
	</nav>
{% endblock %}



{% block nav %}
	<li><a href="/restaurants/">Restaurants</a></li>
	<li><a href="/restaurants/cuisines/">Cuisines</a></li>
	<li><a href="/restaurants/localities/">Localities</a></li>
	<li><a href="/restaurants/establishments/">Establishments</a></li>
{% endblock %}

{% block content %}
			<body>
				<!-- Main -->
					<article id="local">
						<header>
							<h2>Localities</h2>
							<p></p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Localities</h3>
								<hr />

								{% if localities %}
									{% for locality in localities %}
										{% if locality.restaurant_set.all %}
											<h4>{{locality}}</h4>
											<blockquote>
											<ul class="alt">
												{% for restaurant in locality.restaurant_set.all %}
													{% if restaurant.enable %}
														<li><div class="row"><h4><a href="/restaurants/{{restaurant.id}}/menu">
														{% if restaurant.thumbnail %}
															<img src="{{restaurant.thumbnail}}" width=5% height='auto'>      
														{% endif %}
														{{restaurant}}, {{restaurant.locality}}</a></h4>
													{% endif %}
												{% endfor %}
											</ul>
											</blockquote>
										{% endif %}
									{% endfor %}
								{% else %}
									<h4> No Localities are available right now.
								{% endif %}

							</div>
						</section>
					</article>
{% endblock %}