{% extends "./base.html" %}
{% load staticfiles %}

{% block title %}
| Restaurants
{% endblock %}

{% block nav2 %}
	<nav id= "nav" style="left:22px; top:13px">
		<a href="/"><h4>WORX.</h4></a>
	</nav>
{% endblock %}




{% block nav %}
    <li>Menu</li>
    {% for dishtype in restaurant.dish_type_set.all %}  
      <li><a href="#{{dishtype}}" >{{dishtype}}</a></li>
    {% endfor %}
    <li><a href="#myModal" data-toggle="modal">Cart</a></li>
{% endblock %}


{% block content %}
			<body>
				<!-- Main -->
					<article id="digimenu">
						<header>
							<h2>{{restaurant}}, {{restaurant.locality}}</h2>
							<h3>{{restaurant.about}}</h3>
							<p>Phone:&nbsp&nbsp{{restaurant.phone}}</p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>Menu</h3>
								<hr />
<!--  -->
	{% for dishtype in restaurant.dish_type_set.all %}
	    <section id="{{dishtype}}"></section>  

		<h4>{{dishtype}}</h4>
		<blockquote>
		<ul class="alt">
			{% if dishtype.about_as_list %}
			<li><h3><span style="background-color:#f6f6f6; color:black" >|
			{% for about in dishtype.about_as_list %}
				{{about}} | 
			{% endfor %}
			</span></h2></li>
			{% endif %}

		{% for dish in dishtype.dish_set.all %}
			  
				<li><div class="row"><h4>
				{{dish}}
				</h4></div>
				<blockquote>

				<table class="table table-condensed" style="border:0px">
				<tbody>
				{% for price_type in dish.dish_price_type_set.all %}
				<tr>
					<td ><h4>
						{% if dish.vegOrNot == 'V' %}
							<span style="color:green;padding:0 .5em">&#8865;</span>
						{% elif dish.vegOrNot == 'N' %}
							<span style="color:red;padding:0 .5em">&#8865;</span>
						{% endif %}
					{{price_type}}  
					</h4>
					<h5></h5></td>
					<td style="float:right; width:40px; margin-right:5px; ">
						<h4>&#8377;{{price_type.price}}</h4>
					</td>
					<td style="float:right; padding-right:0px; width:80px " > 
						<div class="btn-danger btn-group btn-group-xs " role="group" aria-label="...">
						  <button type="button" class="btn btn-default" style="height:25px"><span class="glyphicon glyphicon-menu-up"></span></button>
						  <button type="button" class="btn btn-default" style="height:25px">0</button>
						  <button type="button" class="btn btn-default" style="height:25px"><span class="glyphicon glyphicon-menu-down"></span></button>
						</div>
					</td>

				</tr>
				{% endfor %}
				</tbody></table>

				</blockquote>

				</li>
		{% endfor %}

		</ul>
		</blockquote>

	{% endfor %}		


							</div>
						</section>
					</article>
{% endblock %}