{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
worx
{% endblock %}


{% block nav %}
	<!-- <li><a href="/events/">Events</a></li> -->
	<li><a href="/restaurants/">Restaurants</a></li>
{% endblock %}



{% block content %}
		<body class="landing">

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<h2>WORX.</h2>
							<p>revolutionising the way you dine</p>
							{% if user.id %}
							{% else %}
							<ul class="actions">
								<li><a data-toggle="modal" data-target="#login-modal" class="button special">Sign In</a></li>
							</ul>
							{% endif %}
						</div>
						<a href="#one" class="more scrolly">Learn More</a>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style1 special">
						<div class="inner">
							<header class="major">
								<h2>Digital Menu: <br />One platform for all types of Restaurants</h2>
								<p>Check out menu of Restaurants, Food Joints, Bar, Lounges on your mobile just by tapping Restaurant table.</p>
							</header>
							<ul class="icons major">
								<li><span class="icon fa-mobile major style1"><span class="label"></span></span></li>
								<li><span class="icon fa-cutlery major style2"><span class="label"></span></span></li>
								<li><span class="icon fa-glass major style3"><span class="label"></span></span></li>
							</ul>
						</div>
					</section>

				<!-- Two -->

					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="{%static "img/mobile.png" %}" alt="" /></div><div class="content">
								<h2>A smartphone enabled with<br />
								NFC and internet</h2>
								<p></p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="{%static "img/nfc.jpg" %}" alt="" /></div><div class="content">
								<h2>Tap on the NFC menu<br />
								present on the Table</h2>
								<p></p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="{%static "img/menu.jpg" %}" alt="" /></div><div class="content">
								<h2>Order the food you wish<br />
								from the digi menu</h2>
								<p></p>
							</div>
						</section>
					</section>

{% endblock %}
