{% extends "./base.html" %}
{% load staticfiles %}

{% block title %}
{{restaurant}}
{% endblock %}


{% block navcart %}
	<li ><a data-toggle="modal" href="#myModal"><h4> 
		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
	&#x20B9<span class="finalpay">0</span></h4></a></li>
{% endblock %}

{% block nav2 %}
	<nav id= "nav" style="left:22px; top:13px">
		<a href="/"><h4>worx.</h4></a>
	</nav>

{% endblock %}




{% block nav %}
	<li><a href="/restaurants" >Restaurants</a></li>
    <li>{{restaurant}}</li>
    {% for dishtype in restaurant.dish_type_set.all %}  
      <li><a href="#{{dishtype}}" >{{dishtype}}</a></li>
    {% endfor %}
{% endblock %}


{% block content %}
<!-- Main -->
<body>





<article id="digimenu">
	<header>
		<h2>{{restaurant}}, {{restaurant.locality}}</h2>
		<h3>{{restaurant.about}}</h3>
		<p>Phone:&nbsp&nbsp{{restaurant.phone}}</p>
	</header>
<section class="wrapper style5">
<div class="inner">


<h3>Menu</h3>

		<div id="sticky-anchor"></div>
		<div id="sticky">
			{% for dishtype in restaurant.dish_type_set.all %}
			<div class="ele">
				<a href="#{{dishtype}}">
				<button class="mdl-button" style="box-shadow:inset 0 0 0 0px #dfdfdf;" >
				  {{dishtype}}
				</button>
				</a>
            </div>
            {% endfor %}
        </div>


<!--  -->
{% for dishtype in restaurant.dish_type_set.all %}
	<section id="{{dishtype}}" style="top:-100px;position: relative; visibility: hidden;"></section>  
	<h4>
		{% if dishtype.vegOrNot == 'V' %}
		<span style="color:green;padding:0">&#9679;</span>
		{% elif dishtype.vegOrNot == 'N' %}
		<span style="color:red;padding:0">&#9679;</span>
		{% elif dishtype.vegOrNot == 'B' %}
		<span style="color:green;padding:0">&#9679;</span>
		<span style="color:red;padding:0">&#9679;</span>
		{% elif dishtype.vegOrNot == 'D' %}
		<span class="glyphicon glyphicon-glass" style="color:#1E90FF"></span>
		{% elif dishtype.vegOrNot == 'H' %}
		<span class="glyphicon glyphicon-glass" style="color:#ff3a3a"></span>
		{% endif %}
	{{dishtype}}</h4>
	<blockquote>
		<ul class="alt">
			{% if dishtype.commonPrice == True %}
				<li align="justify">
					<h4>|
					{% for price in dishtype.dish_type_pricee_set.all %}
						<span style="width:200px;">
						{% if price.vegOrNot == 'V' %}
							<span style="color:green;padding:0 .5em">&#9679;</span>
						{% elif price.vegOrNot == 'N' %}
							<span style="color:red;padding:0 .5em">&#9679;</span>
						{% endif %}
						{{price.name}} &#8377;{{price.price}} |
						</span>
					{% endfor %}
					</h4>
				</li>
			{% endif %}
			{% for dish in dishtype.dish_set.all %}
				<li>
					<div class="row myRow" onclick="expand('ROW{{dish}}')" title="tap to place order">
						<span style="cursor:s-resize" >
							<h4 style="padding-top:5px; padding-bottom:20px" >
							{{dish}}
							</h4>
						</span>
						<div style="position: absolute;right: 0; margin-top:20px">
							<div class="material-icons mdl-badge mdl-badge--no-background"  data-badge="0" style="color:#1E90FF" >
								<span class="glyphicon glyphicon-thumbs-up" style="font-size:20px"></span>
							</div>

							<div class="material-icons mdl-badge mdl-badge--no-background" data-badge="0" style="color:black">
								<span class="glyphicon glyphicon-thumbs-down" style="font-size:20px"></span>
							</div>
							<button type="button" class="btn btn-default btn-xs" style="height:25px; margin:0px 0px 20px 10px">
								<!-- <span class="glyphicon glyphicon-plus"></span> -->Add
							</button>
						</div>
					</div>
					<div id="ROW{{dish}}" style="display: none;">
						<blockquote >
							<table class="table table-condensed" style="border:0px">
								<tbody>
									{% for price_type in dish.dish_price_set.all %}
										<tr>
											<td ><h4>
												{% if price_type.vegOrNot == 'V' %}
												<span style="color:green;padding:0 .5em">&#9679;</span>
												{% elif price_type.vegOrNot == 'N' %}
												<span style="color:red;padding:0 .5em">&#9679;</span>
												{% endif %}
												{{price_type}}  
												</h4>
											</td>
											<td style="float:right; width:40px; margin-right:5px; ">
												<h4>&#8377;{{price_type.price}}</h4>
											</td>
											<td id='dish{{price_type.id}}' style="float:right; padding-right:0px; width:85px;" > 
												<div class="btn-default btn-group btn-group-xs " role="group" aria-label="...">
													
													
													<button type="button" class="btn btn-default" onclick="delItem(
														'qty{{price_type.id}}',
														'{{dish}}',
														'{{price_type.vegOrNot}}',
														'{{price_type}}',
														'dish{{price_type.id}}',
														'{{price_type.price}}',
														'varun{{price_type.id}}'
													)" style="height:25px">
													<span class="glyphicon glyphicon-minus"></span>
													</button>
													<span class="btn " style="height:25px;" ><span class="qty{{price_type.id}}">0</span></span>
													<button type="button" class="btn btn-default" onclick="addItem(
														'qty{{price_type.id}}',
														'{{dish}}',
														'{{price_type.vegOrNot}}',
														'{{price_type}}',
														'dish{{price_type.id}}',
														'{{price_type.price}}',
														'varun{{price_type.id}}'
													)" style="height:25px">
														<span class="glyphicon glyphicon-plus"></span>
													</button>
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</blockquote>
					</div>
				</li>
			{% endfor %}
		</ul>
	</blockquote>
{% endfor %}
		<div style="margin-bottom:50px;">		
      <button type="button" class="btn btn-info btn-xs" style="float:right; right:0; " data-toggle="modal" data-target="#myModal">
        Bill &#x20B9 <span class="total">0</span>
      </button>
      </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top:100px">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <span type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></span> -->
          <h5 class="modal-title" id="myModalLabel">Your Order</h5>
        </div>
        <div class="modal-body" style="font-size:10px">
        	
			<table class="table table-condensed col-md-4" id="mycart">

			</table>
			<hr><hr>
	        	<p style="font-size:10px;line-height: 0.2;">
	        		Total <span style="float:right; padding-right:0">&#x20B9 <span class="total">0</span></span>
	        	</p>
	        	<p style="font-size:10px;line-height: 0.2;">
	        	Service Charge <span style="float:right; padding-right:0">&#x20B9 <span class="servCharge">0</span></span><br/>
	        	</p>
	        	<p style="font-size:10px;line-height: 0.2;margin-bottom:0px">
	        	Service Tax <span style="float:right; padding-right:0">&#x20B9 <span class="servTax">0</span></span><br/>
	        	</p>
	        	<hr>
	        	<p style="font-size:10px;line-height: 0.2;margin-bottom:0px">
	        	Final<span style="float:right; padding-right:0">&#x20B9 <span class="finalpay">0</span></span>
        	 	</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info btn-xs" onclick="window.location.reload()" >Reset</button>
        </div>
      </div>
    </div>
</div>




</div>
</section>
</article>
<!-- For sticky navbar i.e. horizontal dishtypes -->

<style type="text/css">


::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
};
body, html {
}
#sticky {
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  background: #fff;
  margin-bottom: 10px;
  padding: 0px 10px 10px 10px;

}
#sticky.stick {
	width: 90%;
    position: fixed;
    top: 50px;
    max-width: 60em;
    /*height: auto;*/
    padding: 0px 10px 10px 10px;
	text-align: left;
	white-space: nowrap;
	background:rgba(255,255,255, 1);
	margin-bottom: 10px;
	z-index: 1;
}


.ele {
  display: inline-block;
  margin-right: 20px;
  /*height: 80px;*/
}	
</style>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
function sticky_relocate() {
    var window_top = $(window).scrollTop();
    var div_top = $('#sticky-anchor').offset().top;
    if (window_top > div_top) {
        $('#sticky').addClass('stick');
    } else {
        $('#sticky').removeClass('stick');
    }
}

$(function () {
    $(window).scroll(sticky_relocate);
    // sticky_relocate();
});	

</script>

<script src="{%static "js/cart.js" %}"></script>
<script src="{%static "js/menu.js" %}"></script>
</body>

{% endblock %}